@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">BTK Akademi</h1>
    <p>
        @* href="/course/apply" yerine taghelper kullandık çünkü Course ismi değişebilir daha az kod yazarız vs. *@
        <a class="btn btn-primary" asp-controller="Course" asp-action="Apply">Apply</a>
    </p>
</div>
